<!DOCTYPE html>

<head>
    <title>Weather App</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="container">
        {{>header}}
        <p class="paragraph">This site uses data from mapbox.com and openweather.org</p>
        <img class="portrait" src="/img/me.png">
    </div>
    {{>footer}}
</body>

</html>